<h1>Order Shoes</h1>

<form action ="/shoes" method ="post">
  <label for="first_name">First name:</label>
  <input type="text" name="first_name"></input>

  <label for="last_name">Last name:</label>
  <input type="text" name="last_name"></input>

  <label for="size">Select a Size:</label>

  <select name= "size">
    <option value="size 7">Size 7</option>
    <option value="size 8">Size 8</option>
    <option value="size 9">Size 9</option>
    <option value="size 10">Size 10</option>
    <option value="size 11">Size 11</option>
  </select>

  <label for="quantity">Quantity</label>
  <input type="number" name="quantity"></input>


  <input type="submit" value="Order Shoes"></input>

</form>

